.config-tiny filter=lfs diff=lfs merge=lfs -text
diy-part2.sh filter=lfs diff=lfs merge=lfs -text
files filter=lfs diff=lfs merge=lfs -text
kernel filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
diy-part1.sh filter=lfs diff=lfs merge=lfs -text
.config-full filter=lfs diff=lfs merge=lfs -text
